@import '~antd/dist/antd.css';
.App {
  text-align: center;
  padding:20px;
  padding-top:10px;
  background: #fafafa;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-col-12, .ant-col-8{
  padding:10px;
}

.ant-row{
  text-align: left;
}

.ant-row .ant-input-affix-wrapper{
  margin-top: 10px;
}

.ant-col-12 button{
  float: right;
}

h2{
  padding: 15px;
  background: #1890ff;
  color: #fff;
  margin-bottom: 20px;
}

h4{
  color:#fff !important
}

.ant-steps{
  padding: 10px;
  padding-top:0px
}

.text-align-right{
  text-align: right;
}
.flex-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button-panel{
  margin-top:10px;
  margin-bottom:10px;
  button{
    margin-right:10px;
  }
}

.event-card{
  // height: 300px;
  background: #fafafa;
  padding-left:10%;
  padding-right:10%;
}

.event-card .ant-row{
  height:80vh
}

.left-panel{
  padding-top:50px;
}

.right-panel{
  padding-top:50px;
}

.full-width{
  width:100%
}

.form-group{
  display: flex;
  flex-direction: row;
  align-items: center;
  label {
    width: 50%;
    text-align: right;
    padding: 15px;
  }
  div{
    width: 100%;
  }
}


.round-img{
  border-radius:50%
}

body{
  background:#fafafa
}

.event-content{
  padding-left:15px
}

.ant-card-head{
  text-align: center;
  font-size:20px
}

.ant-card-head-title{
  font-size:1.5em;
  text-transform: capitalize;
}

.page{
  background:#fafafa;
  height:100vh; 
  .header{
    background:#096dd9;
    color:#fff;
    text-align: center;
    padding:10px;
    h1{
      color:#fff;
    }
    h3{
      margin-top:0px;
      color:#fff;
    }
  }
}

.error-text{
  color:red;
  text-align: right;
}

.text-align-center{
  text-align: center;
}

.event-image-card{
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.ant-card{
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
}
.ant-card:hover{
  border: 2px solid #40a9ff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  
}